Repository sublime-security/sublime-rules, pull requests merged in 2025-09, with the labels that each got.

#3152 Create attachment_office_sharing_sus_ocr.yml
  detection-rules/attachment_office_sharing_sus_ocr.yml
Labels: in-test-rules

#3151 Insight: Remove common schema domains from Links with low reputation in attachments
  insights/attachments/links_low_reputation.yml
Labels: review-needed

#3094 Create google classroom spoof alert
  detection-rules/abuse_google_classroom.yml
Labels: in-test-rules, review-needed

#3162 Insight: Filtering out common schema domains in Domains in Attachments
  insights/attachments/links_domains.yml
Labels: review-needed

#2645 Create brand_impersonation_procore.yml
  detection-rules/brand_impersonation_procore.yml
Labels: in-test-rules, review-needed

#3160 Update credential_phishing_cross_site_scripting_in_sub.yml
  detection-rules/credential_phishing_cross_site_scripting_in_sub.yml
Labels: in-test-rules, review-needed

#3154 Update attachment_ics_embedded_document.yml
  detection-rules/attachment_ics_embedded_document.yml
Labels: in-test-rules, review-needed

#3178 Update qr_code_suspicious_indicators.yml
  detection-rules/qr_code_suspicious_indicators.yml
Labels: review-needed, hunting-required

#3177 Insight: Ignoring root domain dublincore.org
  insights/attachments/links.yml
  insights/attachments/links_domains.yml
  insights/attachments/links_low_reputation.yml
Labels: review-needed

#3156 Update attachment_qr_code_suspicious_components.yml
  detection-rules/attachment_qr_code_suspicious_components.yml
Labels: hunting-required

#3182 Update abuse_box_credential_phishing.yml
  detection-rules/abuse_box_credential_phishing.yml
Labels: hunting-required

#3183 Update body_bec_mobile_solicitation_reply_thread.yml
  detection-rules/body_bec_mobile_solicitation_reply_thread.yml
Labels: in-test-rules

#2640 Create link_multistage_buildin_ai.yml
  detection-rules/link_multistage_buildin_ai.yml
Labels: hunting-required

#3111 Update paypal_invoice_abuse.yml
  detection-rules/abused_payoneer_callback.yml
  detection-rules/bec_student_loan_callback_scam.yml
  detection-rules/callback_phishing_intuit.yml
  detection-rules/callback_phishing_sumup.yml
  detection-rules/callback_phishing_zelle.yml
  detection-rules/canva_infra_abuse.yml
  detection-rules/paypal_invoice_abuse.yml
  detection-rules/venmo_payment_abuse.yml
Labels: in-test-rules

#3181 Update suspicious_request_financial.yml
  detection-rules/suspicious_request_financial.yml
Labels: in-test-rules, review-needed

#3187 Update body_extortion.yml
  detection-rules/body_extortion.yml
Labels: in-test-rules, review-needed

#3188 Update impersonation_paypal.yml
  detection-rules/impersonation_paypal.yml
Labels: in-test-rules, review-needed

#3170 Adding additional domains and logic
  detection-rules/salesforce_infra_abuse.yml
Labels: review-needed, hunting-required

#3206 Update brand_impersonation_vanguard.yml
  detection-rules/brand_impersonation_vanguard.yml
Labels: in-test-rules, review-needed

#3203 Update brand_impersonation_booking_com.yml
  detection-rules/brand_impersonation_booking_com.yml
Labels: in-test-rules, review-needed

#3205 Update brand_impersonation_sendgrid.yml
  detection-rules/brand_impersonation_sendgrid.yml
Labels: in-test-rules, review-needed

#3195 Create credential_phishing_fake_tax_form_document.yml
  detection-rules/credential_phishing_fake_tax_form_document.yml
Labels: in-test-rules, review-needed

#3210 Update attachment_eml_cred_theft_language.yml
  detection-rules/attachment_eml_cred_theft_language.yml
Labels: in-test-rules, review-needed

#3212 Update suspicious_request_for_quote_or_purchase.yml
  detection-rules/suspicious_request_for_quote_or_purchase.yml
Labels: in-test-rules

#3174 Update callback_phishing_nlu_body_or_attachments.yml
  detection-rules/callback_phishing_nlu_body_or_attachments.yml
Labels: in-test-rules, review-needed

#3224 Update link_credential_phishing_voicemail_language.yml
  detection-rules/link_credential_phishing_voicemail_language.yml
Labels: in-test-rules, review-needed

#3227 Update impersonation_aramco.yml
  detection-rules/impersonation_aramco.yml
Labels: in-test-rules, review-needed

#3228 Update impersonation_amazon.yml
  detection-rules/impersonation_amazon.yml
Labels: in-test-rules, review-needed

#2712 Create open_redirect_asemailmgmteu.yml
  detection-rules/open_redirect_asemailmgmteu.yml
Labels: in-test-rules

#3232 Update impersonation_amazon.yml
  detection-rules/impersonation_amazon.yml
Labels: in-test-rules, review-needed

#3233 [insight] Update links_domains.yml
  insights/attachments/links_domains.yml
Labels: review-needed

#3225 Update impersonation_social_security_admin.yml
  detection-rules/impersonation_social_security_admin.yml
Labels: in-test-rules, review-needed

#3243 Update brand_impersonation_robert_half.yml
  detection-rules/brand_impersonation_robert_half.yml
Labels: in-test-rules, review-needed

#3241 Update attachment_sus_pdf_chrome.yml
  detection-rules/attachment_sus_pdf_chrome.yml
Labels: in-test-rules, review-needed

#3242 Update abuse_quickbooks_suspicious_comments.yml
  detection-rules/abuse_quickbooks_suspicious_comments.yml
Labels: in-test-rules, review-needed

#3254 Update impersonation_digital_ocean.yml
  detection-rules/impersonation_digital_ocean.yml
Labels: in-test-rules, review-needed

#3247 Update zoom_events_abuse.yml
  detection-rules/zoom_events_abuse.yml
Labels: in-test-rules, review-needed

#3262 Update credential_phishing_esign_document_notification.yml
  detection-rules/credential_phishing_esign_document_notification.yml
Labels: in-test-rules, review-needed

#3175 Update attachment_callback_phish_via_text_file.yml
  detection-rules/attachment_callback_phish_via_text_file.yml
Labels: in-test-rules, review-needed

#3252 Update attachment_encrypted_pdf_cred_theft.yml
  detection-rules/attachment_encrypted_pdf_cred_theft.yml
Labels: in-test-rules

#3294 Update rule name for Adobe Acrobat hosted PDF
  detection-rules/link_multistage_adobe_acrobat_hosted_pdf.yml
Labels: review-needed

#3299 Update impersonation_dropbox.yml
  detection-rules/impersonation_dropbox.yml
Labels: in-test-rules, review-needed

#3273 Create brand_impersonation_sharepoint_pdf_cred_theft.yml
  detection-rules/brand_impersonation_sharepoint_pdf_cred_theft.yml
Labels: in-test-rules, review-needed

#3308 Update brand_impersonation_stripe_notification.yml
  detection-rules/brand_impersonation_stripe_notification.yml
Labels: review-needed

#3286 Update vip_impersonation.yml
  detection-rules/vip_impersonation.yml
Labels: in-test-rules, review-needed

#3301 Update impersonation_quickbooks.yml
  detection-rules/impersonation_quickbooks.yml
Labels: in-test-rules, review-needed

#3300 Create spam_new_job_cold_outreach.yml
  detection-rules/spam_new_job_cold_outreach.yml
Labels: in-test-rules, review-needed

#3320 Update brand_impersonation_robert_half.yml
  detection-rules/brand_impersonation_robert_half.yml
Labels: in-test-rules, review-needed
