Repository sublime-security/sublime-rules, pull requests merged in 2025-02, with the labels that each got.

#2311 Update body_callback_phishing_no_attachment.yml
  detection-rules/body_callback_phishing_no_attachment.yml
Labels: in-test-rules, review-needed

#2361 Update body_extortion.yml
  detection-rules/body_extortion.yml
Labels: review-needed

#2356 Update impersonation_suspected_supplier_payment_request.yml
  detection-rules/impersonation_suspected_supplier_payment_request.yml
Labels: in-test-rules

#1957 Create brand_impersonation_docusign_pdf_with_suspicious_links.yml
  detection-rules/brand_impersonation_docusign_pdf_with_suspicious_links.yml
Labels: in-test-rules

#2120 Update credential_phishing_one_drive_impersonation.yml
  detection-rules/credential_phishing_one_drive_impersonation.yml
Labels: in-test-rules, review-needed

#2310 Update attachment_pdf_extortion_leveraging_breach_data.yml
  detection-rules/attachment_pdf_extortion_leveraging_breach_data.yml
Labels: review-needed

#2358 Update high_trust_auth_fail.yml
  insights/sender/high_trust_auth_fail.yml
Labels: review-needed

#2246 Create attachment_html_excessive_const_declarations.yml
  detection-rules/attachment_html_excessive_const_declarations.yml
Labels: in-test-rules

#2243 Create headers_DL_unsolicited.yml
  detection-rules/headers_DL_unsolicited.yml
Labels: in-test-rules, review-needed

#2362 Create scam_piano.yml
  detection-rules/scam_piano.yml
Labels: in-test-rules, review-needed

#2376 Update scam_piano.yml
  detection-rules/scam_piano.yml
Labels: review-needed

#2378 Update headers_DL_unsolicited.yml
  detection-rules/headers_DL_unsolicited.yml
Labels: review-needed

#2346 Create open_redirect_didatravel.yml
  detection-rules/open_redirect_didatravel.yml
Labels: in-test-rules, review-needed

#2345 Create open_redirect_bigpress.yml
  detection-rules/open_redirect_bigpress.yml
Labels: in-test-rules, review-needed

#2327 Create open_redirect_smartadserver.yml
  detection-rules/open_redirect_smartadserver.yml
Labels: in-test-rules, review-needed

#2333 Create open_redirect_retailrocket.yml
  detection-rules/open_redirect_retailrocket.yml
Labels: in-test-rules, review-needed

#2107 Create suspicious_sender_display_name_procedurally_generated_blob.yml
  detection-rules/suspicious_sender_display_name_procedurally_generated_blob.yml
Labels: in-test-rules

#2359 Update spam_attendee_list_solicitation.yml
  detection-rules/spam_attendee_list_solicitation.yml
Labels: review-needed

#2382 Update credential_phishing_docusign_html_table_forgery.yml
  detection-rules/credential_phishing_docusign_html_table_forgery.yml
Labels: review-needed

#2363 Update credential_phishing_corporate_services_impersonation_with_susp…
  detection-rules/credential_phishing_corporate_services_impersonation_with_suspicious_link.yml
Labels: review-needed

#2384 Update brand_impersonation_hulu.yml
  detection-rules/brand_impersonation_hulu.yml
Labels: review-needed

#2385 Update open_redirect_smartadserver.yml
  detection-rules/open_redirect_bubblelife.yml
  detection-rules/open_redirect_magic4media.yml
  detection-rules/open_redirect_smartadserver.yml
  detection-rules/open_redirect_unitedwaynwvt.yml
Labels: review-needed

#2372 Create open_redirect_magiccity.yml
  detection-rules/open_redirect_magiccity.yml
Labels: in-test-rules, review-needed

#2364 Create open_redirect_embluemail.yml
  detection-rules/open_redirect_embluemail.yml
Labels: in-test-rules, review-needed

#2370 Create open_redirect_spiceworks.yml
  detection-rules/open_redirect_spiceworks.yml
Labels: in-test-rules, review-needed

#2368 Create open_redirect_ijf.yml
  detection-rules/open_redirect_ijf.yml
Labels: in-test-rules, review-needed

#2367 Create open_redirect_astroarts.yml
  detection-rules/open_redirect_astroarts.yml
Labels: in-test-rules, review-needed

#2365 Create open_redirect_spently.yml
  detection-rules/open_redirect_spently.yml
Labels: in-test-rules, review-needed

#2366 Create open_redirect_radiopublic.yml
  detection-rules/open_redirect_radiopublic.yml
Labels: in-test-rules, review-needed

#2344 Create open_redirect_museepicassoparis.yml
  detection-rules/open_redirect_museepicassoparis.yml
Labels: in-test-rules, review-needed

#2373 Update infrastructure_abuse_tco.yml
  detection-rules/infrastructure_abuse_tco.yml
Labels: in-test-rules, review-needed

#2383 Update link_fake_storage_alert.yml
  detection-rules/link_fake_storage_alert.yml
Labels: review-needed

#2387 Update qr_code_suspicious_indicators.yml
  detection-rules/qr_code_suspicious_indicators.yml
Labels: review-needed

#2389 Update link_credential_phishing_intent_and_other_indicators.yml
  detection-rules/link_credential_phishing_intent_and_other_indicators.yml
Labels: review-needed

#2390 Update credential_phishing_corporate_services_impersonation.yml
  detection-rules/credential_phishing_corporate_services_impersonation_with_suspicious_link.yml
Labels: review-needed

#2369 Create open_redirect_listing-ca.yml
  detection-rules/open_redirect_listing-ca.yml
Labels: in-test-rules, review-needed

#2371 Create open_redirect_vconfex.yml
  detection-rules/open_redirect_vconfex.yml
Labels: in-test-rules, review-needed

#2377 Update link_fake_password_expiration.yml
  detection-rules/link_fake_password_expiration.yml
Labels: in-test-rules, review-needed

#2151 Create impersonation_capitalone.yml
  detection-rules/impersonation_capitalone.yml
Labels: in-test-rules, pending-external-task

#2037 Create credential_phishing_cross_site_scripting_in_sub.yml
  detection-rules/credential_phishing_cross_site_scripting_in_sub.yml
Labels: in-test-rules

#2405 Update impersonation_human_resources.yml
  detection-rules/impersonation_human_resources.yml
Labels: review-needed

#2411 Update scam_piano.yml
  detection-rules/scam_piano.yml
Labels: review-needed

#2402 Update paypal_invoice_abuse.yml
  detection-rules/paypal_invoice_abuse.yml
Labels: in-test-rules, review-needed

#2403 Update body_extortion.yml
  detection-rules/body_extortion.yml
Labels: review-needed

#2409 Update impersonation_capitalone.yml
  detection-rules/impersonation_capitalone.yml
Labels: review-needed

#2410 Update attachment_docusign_suspicious_links.yml
  detection-rules/attachment_docusign_suspicious_links.yml
Labels: review-needed

#2413 Update impersonation_wise.yml
  detection-rules/impersonation_wise.yml
Labels: review-needed

#2414 Update impersonation_twitter.yml
  detection-rules/impersonation_twitter.yml
Labels: review-needed

#1924 Add attachment_filename_containing_unicode_braille_pattern_blank_character.yml
  detection-rules/attachment_filename_containing_unicode_braille_pattern_blank_character.yml
Labels: in-test-rules, review-needed

#2292 Create brand_impersonation_metamask.yml
  detection-rules/brand_impersonation_metamask.yml
Labels: in-test-rules

#2353 Create brand_impersonation_trust_wallet.yml
  detection-rules/brand_impersonation_trust_wallet.yml
Labels: in-test-rules, review-needed

#2357 Create impersonation_google_drive_file_share.yml
  detection-rules/impersonation_google_drive_file_share.yml
Labels: in-test-rules, review-needed

#2396 Create attachment_svg_evasion.yml
  detection-rules/attachment_svg_evasion.yml
Labels: in-test-rules, review-needed

#2399 Create attachment_userinfo_qr.yml
  detection-rules/attachment_userinfo_qr.yml
Labels: in-test-rules, review-needed

#1555 Create callback_phishing_social_security_fraud.yml
  detection-rules/callback_phishing_social_security_fraud.yml
Labels: in-test-rules

#2401 Create callback_phishing_zelle.yml
  detection-rules/callback_phishing_zelle.yml
Labels: in-test-rules, review-needed

#2406 Update impersonation_quickbooks.yml
  detection-rules/impersonation_quickbooks.yml
Labels: in-test-rules, review-needed

#2326 Create open_redirect_convertcart.yml
  detection-rules/open_redirect_convertcart.yml
Labels: in-test-rules, review-needed

#2375 Create sender_long_local_part.yml
  detection-rules/sender_long_local_part.yml
Labels: in-test-rules, review-needed

#2427 Update suspicious_request_for_quote_or_purchase.yml
  detection-rules/suspicious_request_for_quote_or_purchase.yml
Labels: review-needed

#2408 Update credential_phishing_cross_site_scripting_in_sub.yml
  detection-rules/credential_phishing_cross_site_scripting_in_sub.yml
Labels: in-test-rules, review-needed

#2419 Update spam_image_hidden_element.yml
  detection-rules/spam_image_hidden_element.yml
Labels: in-test-rules, review-needed

#2423 Update impersonation_binance.yml
  detection-rules/impersonation_binance.yml
Labels: review-needed

#2424 Update brand_impersonation_metamask.yml
  detection-rules/brand_impersonation_metamask.yml
Labels: review-needed

#2421 Update spam_attendee_list_solicitation.yml
  detection-rules/spam_attendee_list_solicitation.yml
Labels: review-needed

#2415 Update link_qr_code_suspicious_language_fts.yml
  detection-rules/link_qr_code_suspicious_language_fts.yml
Labels: in-test-rules

#2395 Create attachment_qr_link_b64_recipient.yml
  detection-rules/attachment_qr_link_b64_recipient.yml
Labels: in-test-rules, review-needed

#2418 update and sync callback phishing logic
  detection-rules/attachment_callback_phish_with_img.yml
  detection-rules/attachment_callback_phish_with_pdf.yml
  detection-rules/body_callback_phishing_no_attachment.yml
Labels: in-test-rules, review-needed

#2439 Update suspicious_request_for_quote_or_purchase.yml
  detection-rules/suspicious_request_for_quote_or_purchase.yml
Labels: review-needed
