Repository sublime-security/sublime-rules, pull requests merged in 2025-03, with the labels that each got.

#2412 Update link_secure_sharepoint_file.yml
  detection-rules/link_secure_sharepoint_file.yml
Labels: review-needed

#2435 Enhance spam_attendee_list_solicitation.yml to detect grocery store list solicitations
  detection-rules/spam_attendee_list_solicitation.yml
Labels: review-needed

#2434 Update cred_theft_suspicious_invoice_w_missing_or_image_only_attachments.yml
  detection-rules/cred_theft_suspicious_invoice_w_missing_or_image_only_attachments.yml
Labels: review-needed

#2425 Create recruitee_infra_abuse.yml
  detection-rules/recruitee_infra_abuse.yml
Labels: in-test-rules

#2437 Update paypal_invoice_abuse.yml
  detection-rules/paypal_invoice_abuse.yml
Labels: in-test-rules, review-needed

#2438 Update body_extortion.yml
  detection-rules/body_extortion.yml
Labels: in-test-rules, review-needed

#2441 Update spam_image_hidden_element.yml
  detection-rules/spam_image_hidden_element.yml
Labels: in-test-rules, review-needed

#2440 Update abuse_quickbooks_impersonation_intuit.yml
  detection-rules/abuse_quickbooks_impersonation_intuit.yml
Labels: review-needed

#2307 Create impersonation_sharepoint_reply_headers.yml
  detection-rules/impersonation_sharepoint_reply_headers.yml
Labels: in-test-rules, review-needed

#2426 Update link_credential_phishing_voicemail_language.yml
  detection-rules/link_credential_phishing_voicemail_language.yml
Labels: in-test-rules

#2448 Create attachment_eml_svg_js.yml
  detection-rules/attachment_eml_svg_js.yml
Labels: in-test-rules, review-needed

#2444 Update salesforce_infra_abuse.yml
  detection-rules/salesforce_infra_abuse.yml
Labels: in-test-rules, review-needed

#2420 Updated Attendee list rule
  detection-rules/spam_attendee_list_solicitation.yml
Labels: review-needed

#2451 Update COVID-19 themed fraud rule to detect compensation award scams
  .gitignore
  detection-rules/body_bec_covid_international_org_scam.yml
Labels: review-needed, claude-code

#2443 Update credential_phishing_esign_document_notification.yml
  detection-rules/credential_phishing_esign_document_notification.yml
Labels: in-test-rules

#2453 Add detection for Google Drive auto-download links
  detection-rules/link_download_suspicious_file.yml
  detection-rules/link_google_drive_direct_download_unsolicited.yml
Labels: in-test-rules, claude-code

#2455 Update link_credential_phishing_voicemail_language.yml
  detection-rules/link_credential_phishing_voicemail_language.yml
Labels: review-needed

#2465 Update bec_urgent_suspicious_patterns.yml
  detection-rules/bec_urgent_suspicious_patterns.yml
Labels: review-needed

#2461 Update body_job_scam_unsolicited.yml
  detection-rules/body_job_scam_unsolicited.yml
Labels: review-needed

#2460 Update impersonation_facebook.yml
  detection-rules/impersonation_facebook.yml
Labels: review-needed

#2466 Update link_credential_phishing_voicemail_language.yml
  detection-rules/link_credential_phishing_voicemail_language.yml
Labels: review-needed

#2394 Create suspicious_subject_procedurally_generated_blob.yml
  detection-rules/suspicious_subject_procedurally_generated_blob.yml
Labels: in-test-rules, review-needed

#2458 Update suspicious_request_for_quote_or_purchase.yml
  detection-rules/suspicious_request_for_quote_or_purchase.yml
Labels: review-needed, claude-code

#2469 Update fake tax preparation rule to catch additional patterns
  detection-rules/fake_tax_prep_request.yml
Labels: review-needed, claude-code

#2468 Update impersonation_linkedin.yml
  detection-rules/impersonation_linkedin.yml
Labels: review-needed

#2470 Update attachment_html_recipient_in_javascript_identifiers.yml
  detection-rules/attachment_html_recipient_in_javascript_identifiers.yml
Labels: review-needed

#2338 Create link_referer_anon_services.yml
  detection-rules/link_referer_anon_services.yml
Labels: in-test-rules, review-needed

#2422 Update attachment_fake_gmail_attachment.yml
  detection-rules/attachment_fake_gmail_attachment.yml
Labels: in-test-rules, review-needed

#2445 Update and rename impersonation_facebook.yml to impersonation_meta.yml
  detection-rules/impersonation_meta.yml
Labels: in-test-rules, review-needed

#2450 Update impersonation_docusign.yml
  detection-rules/impersonation_docusign.yml
Labels: in-test-rules, review-needed

#2464 Create callback_phishing_adobesign.yml
  detection-rules/callback_phishing_adobesign.yml
Labels: in-test-rules, review-needed

#2459 Create brand_impersonation_wetransfer.yml
  detection-rules/brand_impersonation_wetransfer.yml
Labels: in-test-rules, review-needed

#2475 Update impersonation_fedex.yml
  detection-rules/impersonation_fedex.yml
Labels: review-needed

#2474 Update and rename link_referer_anon_services.yml to link_referrer_ano…
  detection-rules/link_referrer_anon_services.yml
Labels: review-needed

#2230 Create unrelated_sharepoint_link.yml
  detection-rules/unrelated_sharepoint_link.yml
Labels: in-test-rules, review-needed

#2456 Update attachment_callback_phish_with_img.yml
  detection-rules/attachment_callback_phish_with_img.yml
Labels: review-needed

#2479 Update open_redirect_retailrocket.yml
  detection-rules/open_redirect_retailrocket.yml
Labels: review-needed

#2477 Update impersonation_paypal.yml
  detection-rules/impersonation_paypal.yml
Labels: review-needed

#2483 Update link_multistage_microsoft_forms.yml
  detection-rules/link_multistage_microsoft_forms.yml
Labels: review-needed

#2494 Update impersonation_amazon.yml
  detection-rules/impersonation_amazon.yml
Labels: review-needed

#2501 Update callback_phishing_intuit.yml
  detection-rules/callback_phishing_intuit.yml
Labels: review-needed

#2502 Update suspicious_attachment_duplicate_decoy_pdf_attachments.yml
  detection-rules/suspicious_attachment_duplicate_decoy_pdf_attachments.yml
Labels: review-needed

#2481 Create open_redirect_shoppermeet.yml
  detection-rules/open_redirect_shoppermeet.yml
Labels: in-test-rules, review-needed

#2486 Create open_redirect_shibboleth.yml
  detection-rules/open_redirect_shibboleth.yml
Labels: in-test-rules, review-needed

#2487 Update open_redirect_samsung.yml
  detection-rules/open_redirect_samsung.yml
Labels: in-test-rules, review-needed

#2488 Create open_redirect_obunsha.yml
  detection-rules/open_redirect_obunsha.yml
Labels: in-test-rules, review-needed

#2489 Create open_redirect_buildingengines.yml
  detection-rules/open_redirect_buildingengines.yml
Labels: in-test-rules, review-needed

#2490 Create open_redirect_website-5.yml
  detection-rules/open_redirect_website-5.yml
Labels: in-test-rules, review-needed

#2476 Update impersonation_chrome_web_store_policy.yml
  detection-rules/impersonation_chrome_web_store_policy.yml
Labels: in-test-rules, review-needed

#2496 Update suspicious_subject.yml - Insight
  insights/content/suspicious_subject.yml
Labels: review-needed

#2480 Create open_redirect_eaoko.yml
  detection-rules/open_redirect_eaoko.yml
Labels: in-test-rules, review-needed

#2491 Create open_redirect_agena-smile.yml
  detection-rules/open_redirect_agena-smile.yml
Labels: in-test-rules, review-needed

#2506 Update open_redirect_weblinkconnect.yml
  detection-rules/open_redirect_weblinkconnect.yml
Labels: review-needed

#2463 Create brand_impersonation_sendgrid.yml
  detection-rules/brand_impersonation_sendgrid.yml
Labels: in-test-rules, review-needed

#2484 Create open_redirect_adnxs.yml
  detection-rules/open_redirect_adnxs.yml
Labels: in-test-rules, review-needed

#2495 Create open_redirect_bitrix24.yml
  detection-rules/open_redirect_bitrix24.yml
Labels: in-test-rules, review-needed

#2514 Update open_redirect_cartoonnetwork.yml
  detection-rules/open_redirect_cartoonnetwork.yml
Labels: review-needed

#2497 Update link_credential_phishing_intent_and_other_indicators.yml
  detection-rules/link_credential_phishing_intent_and_other_indicators.yml
Labels: in-test-rules, review-needed

#2521 Update impersonation_human_resources.yml
  detection-rules/impersonation_human_resources.yml
Labels: review-needed

#2492 Create open_redirect_tkqlhce.yml
  detection-rules/open_redirect_tkqlhce.yml
Labels: in-test-rules, review-needed

#2428 update headers_DL_unsolicited.yml
  detection-rules/headers_DL_unsolicited.yml
Labels: in-test-rules, review-needed

#2493 Create open_redirect_smore.yml
  detection-rules/open_redirect_smore.yml
Labels: in-test-rules, review-needed

#2518 Update link_credential_phishing_intent_and_other_indicators.yml
  detection-rules/link_credential_phishing_intent_and_other_indicators.yml
Labels: review-needed

#2519 Create open_redirect_labcluster.yml
  detection-rules/open_redirect_labcluster.yml
Labels: in-test-rules, review-needed

#2522 Create cve_2025_24071_ntlm_leak.yml
  detection-rules/cve_2025_24071_ntlm_leak.yml
Labels: in-test-rules, review-needed

#2500 Apply `format=url` to scan_base64
  detection-rules/attachment_adobe_image_lure_qr_code.yml
  detection-rules/attachment_qr_link_b64_recipient.yml
  detection-rules/impersonation_meta.yml
  detection-rules/link_qr_code_suspicious_language_fts.yml
  insights/attachments/links_qr_contains_recipient_email.yml
Labels: review-needed

#2526 Update link_credential_phishing_intent_and_other_indicators.yml
  detection-rules/link_credential_phishing_intent_and_other_indicators.yml
Labels: review-needed

#2531 Create attachment_sus_employee_doc.yml
  detection-rules/attachment_sus_employee_doc.yml
Labels: in-test-rules

#2432 Create brand_impersonation_vanguard.yml
  detection-rules/brand_impersonation_vanguard.yml
Labels: in-test-rules, review-needed

#2511 Create brand_impersonation_tiktok.yml
  detection-rules/brand_impersonation_tiktok.yml
Labels: in-test-rules, review-needed
