Repository sublime-security/sublime-rules, pull requests merged in 2025-10, with the labels that each got.

#3319 Add high trust snippet to "fake photo share" rule
  detection-rules/spam_fake_photo_share.yml
Labels: in-test-rules, review-needed

#3314 Create headers_system_account_spoof.yml
  detection-rules/headers_system_account_spoof.yml
Labels: in-test-rules, review-needed

#3322 Adding e-signature topic to "Brand impersonation: DocuSign branded attachment lure with no DocuSign links"
  detection-rules/attachment_docusign_suspicious_links.yml
Labels: in-test-rules, review-needed

#3325 Create service_abuse_cisco_secure_email.yml
  detection-rules/service_abuse_cisco_secure_email.yml
Labels: in-test-rules, review-needed

#3333 Update impersonation_amazon.yml
  detection-rules/impersonation_amazon.yml
Labels: in-test-rules, review-needed

#3253 Update brand_impersonation_google_careers.yml
  detection-rules/brand_impersonation_google_careers.yml
Labels: in-test-rules, review-needed

#3323 Update impersonation_meta.yml
  detection-rules/impersonation_meta.yml
Labels: in-test-rules, review-needed

#3335 Update spam_google_looker_studio_report.yml
  detection-rules/spam_google_looker_studio_report.yml
Labels: in-test-rules, review-needed

#3340 Fixing YAML syntax error
  detection-rules/attachment_adobe_image_lure_qr_code.yml
Labels: in-test-rules, review-needed

#3347 add capitalonetradecredit.com domain to impersonation_capitalone.yml
  detection-rules/impersonation_capitalone.yml
Labels: review-needed, test-rules:excluded:author_membership

#3352 Update impersonation_finra.yml
  detection-rules/impersonation_finra.yml
Labels: in-test-rules, review-needed

#3355 Update attachment_eml_cred_theft_language.yml
  detection-rules/attachment_eml_cred_theft_language.yml
Labels: in-test-rules, review-needed

#3362 Update and rename Apple_State-Sponsored_Attack_Warning.yml to apple_s…
  discovery-rules/apple_state-sponsored_attack_warning.yml
Labels: review-needed

#3353 Update impersonation_amazon.yml
  detection-rules/impersonation_amazon.yml
Labels: in-test-rules, review-needed

#3354 Update comp_review_qr_attached_eml.yml
  detection-rules/comp_review_qr_attached_eml.yml
Labels: in-test-rules, review-needed

#3359 Update credential_phishing_corporate_services_impersonation_with_susp…
  detection-rules/credential_phishing_corporate_services_impersonation_with_suspicious_link.yml
Labels: in-test-rules, review-needed

#3245 Create abuse_todo_list.yml
  detection-rules/abuse_todo_list.yml
Labels: in-test-rules, review-needed

#3364 Update body_extortion.yml
  detection-rules/body_extortion.yml
Labels: in-test-rules

#3269 Update credential_phishing_suspicious_subject_nlu_financial_urgent.yml
  detection-rules/credential_phishing_suspicious_subject_nlu_financial_urgent.yml
Labels: in-test-rules, review-needed

#3363 Update predatory_academic_journal.yml
  detection-rules/predatory_academic_journal.yml
Labels: in-test-rules, review-needed

#3332 Create service_abuse_recruiting_impersonation.yml
  detection-rules/service_abuse_recruiting_impersonation.yml
Labels: in-test-rules, review-needed

#3377 Rename insight to be more specific
  insights/headers/unusual_reply_to_mismatch.yml
Labels: review-needed

#3317 Create attachment_ics_spoofed_with_attachment.yml
  detection-rules/attachment_ics_spoofed_with_attachment.yml
Labels: in-test-rules, review-needed
