Repository sublime-security/sublime-rules, pull requests merged in 2025-08, with the labels that each got.

#3030 Update body_job_scam_unsolicited.yml
  detection-rules/body_job_scam_unsolicited.yml
Labels: in-test-rules, review-needed

#3032 Update body_extortion.yml
  detection-rules/body_extortion.yml
Labels: in-test-rules, review-needed

#3048 Update link_credential_phishing_secure_message.yml
  detection-rules/link_credential_phishing_secure_message.yml
Labels: in-test-rules, review-needed

#3034 Update credential_phishing_fake_email_quarantine_notification.yml
  detection-rules/credential_phishing_fake_email_quarantine_notification.yml
Labels: in-test-rules, review-needed

#3036 Update link_catbox.yml
  detection-rules/link_catbox.yml
Labels: in-test-rules, review-needed

#2881 update sharepoint rules
  detection-rules/impersonation_sharepoint_body_credential_theft.yml
  detection-rules/impersonation_sharepoint_fake_file_share.yml
Labels: in-test-rules

#2734 Create predatory_academic_journal.yml
  detection-rules/predatory_academic_journal.yml
Labels: in-test-rules, review-needed

#3049 Update body_extortion.yml
  detection-rules/body_extortion.yml
Labels: in-test-rules, review-needed

#3047 Create callback_phishing_zoom_comment.yml
  detection-rules/callback_phishing_zoom_comment.yml
Labels: in-test-rules, review-needed

#3061 Update impersonation_netflix.yml
  detection-rules/impersonation_netflix.yml
Labels: review-needed, hunting-required

#3060 Update link_credential_phishing_suspicious_sender_tld_and_signals.yml
  detection-rules/link_credential_phishing_suspicious_sender_tld_and_signals.yml
Labels: in-test-rules, review-needed

#3056 Create link_free_file_hosting_undisclosed_recipients.yml
  detection-rules/link_free_file_hosting_undisclosed_recipients.yml
Labels: in-test-rules

#3063 Update body_extortion.yml
  detection-rules/body_extortion.yml
Labels: in-test-rules, review-needed

#3069 Update impersonation_microsoft.yml
  detection-rules/impersonation_microsoft.yml
Labels: in-test-rules, review-needed

#3071 Update impersonation_dhl.yml
  detection-rules/impersonation_dhl.yml
Labels: in-test-rules, review-needed

#3055 Adding logic to .ms check
  detection-rules/impersonation_sharepoint_body_credential_theft.yml
  detection-rules/link_multistage_microsoft_forms.yml
Labels: in-test-rules, review-needed, hunting-required

#3074 Adding new SFDC-EmailCategory value
  detection-rules/salesforce_infra_abuse.yml
Labels: review-needed, hunting-required

#3079 Update brand_impersonation_godaddy.yml
  detection-rules/brand_impersonation_godaddy.yml
Labels: in-test-rules, review-needed

#3082 Update suspicious_request_financial.yml
  detection-rules/suspicious_request_financial.yml
Labels: in-test-rules, review-needed

#3086 Update link_fake_fax_low_reputation.yml
  detection-rules/link_fake_fax_low_reputation.yml
Labels: in-test-rules, review-needed

#3078 Update vip_impersonation_subject.yml
  detection-rules/vip_impersonation_subject.yml
Labels: in-test-rules, review-needed

#3046 Create impersonation_brand_wix.yml
  detection-rules/impersonation_brand_wix.yml
Labels: in-test-rules, review-needed

#3095 Update brand_impersonation_vanguard.yml
  detection-rules/brand_impersonation_vanguard.yml
Labels: in-test-rules, review-needed

#3098 Update attachment_docusign_suspicious_links.yml
  detection-rules/attachment_docusign_suspicious_links.yml
Labels: in-test-rules, review-needed

#3100 Update link_credential_phishing_voicemail_language.yml
  detection-rules/link_credential_phishing_voicemail_language.yml
Labels: in-test-rules, review-needed

#3099 Update impersonation_dhl.yml
  detection-rules/impersonation_dhl.yml
Labels: in-test-rules, review-needed

#3101 Update brand_impersonation_zoom.yml
  detection-rules/brand_impersonation_zoom.yml
Labels: review-needed, hunting-required

#3102 Update impersonation_microsoft.yml
  detection-rules/impersonation_microsoft.yml
Labels: in-test-rules, review-needed

#3088 Update twitter impersonation to tighten scope
  detection-rules/impersonation_twitter.yml
Labels: in-test-rules, review-needed

#3090 Creating rule for impersonation via timetrade infra
  detection-rules/brand_impersonation_via_timetrade.yml
Labels: in-test-rules, review-needed

#2994 Create link_myactivecampaign_abuse.yml
  detection-rules/link_myactivecampaign_abuse.yml
Labels: in-test-rules

#3085 New rule: Trello board abuse
  detection-rules/link_multistage_trello.yml
Labels: hunting-required

#3107 Update impersonation_meta.yml
  detection-rules/impersonation_meta.yml
Labels: in-test-rules, review-needed

#3105 Update spam_attendee_list_solicitation.yml
  detection-rules/spam_attendee_list_solicitation.yml
Labels: in-test-rules, review-needed

#3013 Create spam_emoji_cash_lures.yml
  detection-rules/spam_emoji_cash_lures.yml
Labels: in-test-rules

#2872 Create link_romance_suspicious.yml
  detection-rules/link_romance_suspicious.yml
Labels: in-test-rules, review-needed

#3038 Create link_financial_pdf_to_free_file_host.yml
  detection-rules/link_financial_pdf_to_free_file_host.yml
Labels: in-test-rules, review-needed

#3121 Update impersonation_ups.yml
  detection-rules/impersonation_ups.yml
Labels: in-test-rules, review-needed

#3127 Update brand_impersonation_godaddy.yml
  detection-rules/brand_impersonation_godaddy.yml
Labels: in-test-rules, review-needed

#3130 Update file_sharing_link_from_suspicious_sender_domain.yml
  detection-rules/file_sharing_link_from_suspicious_sender_domain.yml
Labels: in-test-rules, review-needed

#3131 Update link_form_abuse_triple_asterisk.yml
  detection-rules/link_form_abuse_triple_asterisk.yml
Labels: in-test-rules, review-needed

#3133 Update brand_impersonation_navan.yml
  detection-rules/brand_impersonation_navan.yml
Labels: review-needed

#3139 Update suspicious_request_for_quote_or_purchase.yml
  detection-rules/suspicious_request_for_quote_or_purchase.yml
Labels: in-test-rules, review-needed

#3138 Update impersonation_brand_wix.yml
  detection-rules/impersonation_brand_wix.yml
Labels: in-test-rules, review-needed

#3002 adding dmarc and spf checks for attachment smuggling
  detection-rules/attachment_small_html_recipient_address.yml
Labels: in-test-rules, review-needed

#3146 Update spam_attendee_list_solicitation.yml
  detection-rules/spam_attendee_list_solicitation.yml
Labels: in-test-rules, review-needed

#3144 Update impersonation_quickbooks.yml
  detection-rules/impersonation_quickbooks.yml
Labels: in-test-rules, review-needed

#3155 Update link_display_text_matches_subject.yml
  detection-rules/link_display_text_matches_subject.yml
Labels: review-needed, hunting-required
